<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @stock.amount %>
</p>

<p>
  <strong>Product:</strong>
  <%= @stock.product_id %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
