<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :minimum_price %>
    <%= form.number_field :minimum_price %>
  </div>

  <div class="field">
    <%= form.label :minimum_quantity %>
    <%= form.number_field :minimum_quantity %>
  </div>

  <div class="field">
    <%= form.label :facebook_link %>
    <%= form.text_field :facebook_link %>
  </div>

  <div class="field">
    <%= form.label :instagram_link %>
    <%= form.text_field :instagram_link %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.text_field :category_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
