<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Minimum price:</strong>
  <%= @product.minimum_price %>
</p>

<p>
  <strong>Minimum quantity:</strong>
  <%= @product.minimum_quantity %>
</p>

<p>
  <strong>Facebook link:</strong>
  <%= @product.facebook_link %>
</p>

<p>
  <strong>Instagram link:</strong>
  <%= @product.instagram_link %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category_id %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
